.input-container {
    position: relative;
  }
  
  .password-input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    outline: none;
    background-color: var(--primaryBlack);
  }
  
  .password-input:focus {
    border-bottom: 2px solid var(--primaryPink);
  }
  
  .toggle-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 16px;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  